@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;  

<h3>Stylist Details</h3>
<hr>

<p>Name: @Html.DisplayFor(model => model.StylistName)
<br>
Phone: @Html.DisplayFor(model => model.StylistPhone)
<br>
Personal Specialty: @Html.DisplayFor(model => model.Specialty)</p>
<hr>

  @if (@Model.Clients.Count == 0)
  {
    <p>No clients have been added.</p>
  }

  @foreach (Client client in Model.Clients)
  {
    <p>Name: @client.ClientName</p>
  }

<p>@Html.ActionLink("Add a client", "Create", "Clients")</p>
<hr>
<p>@Html.ActionLink("Back to Stylists", "Index")</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>