@{
  Layout = "_Layout";
} 

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<h4>Current Index of Stylists:</h4>
<hr>

@if (@Model.Count == 0)
{
  <p>No stylists have been added yet! @Html.ActionLink("Click Here", "Create", "Stylists") to add one.</p>
  <hr>
} 
@foreach (Stylist stylist in Model)
{
  <li>@Html.ActionLink($"{stylist.StylistName}", "Details", new { id = stylist.StylistId }): @stylist.StylistPhone</li>
  <hr>
}

<p>@Html.ActionLink("Add a new Stylist", "Create", "Stylists") | @Html.ActionLink("Home", "Index", "Home")</p>