@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Edit Client Details for: @Html.DisplayFor(model => model.ClientName)</h4>
<hr>
<div class="col-md-6 offset-md-3">
  @using (Html.BeginForm())
  {
    <div class="form-group">
      @Html.HiddenFor(model => model.ClientId)
    </div>
    <div class="form-group">
      Client's Name: 
      @Html.EditorFor(model => model.ClientName, new { @class = "form-control"})
    </div>
    <div class="form-group">
      Client's Phone Number: 
      @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control"})
    </div>
    <div class="form-group">
      Client's Stylist: 
      @Html.DropDownList("StylistId")
    </div>
      <input type="submit" value="Save" class="btn btn-info">
  }
</div>
<p>@Html.ActionLink("Back to Client List", "Index") | @Html.ActionLink("Home", "Index", "Home")</p>